{% extends 'base.html' %}
{% block titulo %}Bienvenido{% endblock %}
{% block encabezado %} 
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="{{STATIC_URL}}js/jgrowl-master/jquery.jgrowl.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/web-index.css">
<script src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
<script src="{{STATIC_URL}}js/jquery.tablesorter.widgets.js"></script>
<script src="{{STATIC_URL}}js/tags/bootstrap-tagsinput.js"></script>
    <script src="{{STATIC_URL}}js/jgrowl-master/jquery.jgrowl.min.js"></script>


<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-offset-8">
		<div class="col-md-1">
			<button type="button" class="btn btn-primary" id="clickable"> add files</button>
		</div>
		<div class="col-md-1 col-md-offset-2"><button id='folder' type="button" class="btn btn-primary">Create new folder</button></div>
	</div>
</div>


<script type="text/javascript">
	document.getElementById("folder").onclick = function() {
		var foldername = prompt("Enter the name of the new folder : ", "folder name");
		if(foldername && foldername != ""){
			document.location.href = '/newfolder/'+foldername;
		}
	}
</script>
{% endblock %}

{% block contenido %}

<div>
	{% if pathlist %}
		<a href="/">Stacksync</a>
	{% endif %}
	{% for item in pathlist %}
		{% if forloop.last %}
			/ {{item.name|escape}}
		{% else %}
			/ <a href="/focus/{{item.file_id}}">{{item.name|escape}}</a>
		{% endif %}
	{% endfor %}
</div>


<div >	
	 <table id="myTable" class="tablesorter">
		<thead>
			<tr>
				<th>
					<a href="#">Name</a>
				</th>
				<th>
					<a href="#">Size</a>
				</th>
				<th class="sorter-shortDate dateFormat-ddmmyyyy">
					<a href="#">Last modified</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files  %}
			
				<tr>	
					{% if file.is_folder %}
						<td class="showContext2" id="{{file.file_id}}">
						       <a class="file" href="/focus/{{file.file_id}}"><span class="glyphicon glyphicon-folder-close"></span> {{file.name|title}}</a>
						</td>
						<td class="showContext2" id="{{file.file_id}}">--</td>
						<td class="showContext2" id="{{file.file_id}}"> {{file.date|date:'d/m/Y h:m'}} </td>
					{% else %}
						<td class="showContext" id="{{file.file_id}}">
						{% if file.mimetype|slice:":5" == "image" %}
							<a href="/img/{{file.file_id}}" ><span class="glyphicon glyphicon-list-alt" ></span> {{file.name|title}}</a>
						{% elif file.mimetype == "application/pdf" %}
							<a class="file" target="_blank" href="/pdf/{{file.file_id}}"><span class="glyphicon glyphicon-list-alt"></span> {{file.name|title}}</a>
						{% else %}
							<a href="/download/{{file.file_id}}" ><span class="glyphicon glyphicon-list-alt" ></span> {{file.name|title}}</a>
						{% endif %}
						</td>
							<td class="showContext" id="{{file.file_id}}"> {{file.size}} bytes</td>
							<td class="showContext" id="{{file.file_id}}"> {{file.date|date:'d/m/Y h:m'}} </td>
								
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>


<script type="text/javascript">
	$(function() {
		$.extend($.tablesorter.themes.bootstrap, {
		// these classes are added to the table. To see other table classes available,
		    table : 'table table-striped table-hover'
		});
		// call the tablesorter plugin and apply the uitheme widget
		$("table").tablesorter({
			// this will apply the bootstrap theme if "uitheme" widget is included
			// the widgetOptions.uitheme is no longer required to be set
			theme : "bootstrap",
			widthFixed: true,
			// widget code contained in the jquery.tablesorter.widgets.js file
			// use the zebra stripe widget if you plan on hiding any rows (filter widget)
			widgets : [ "uitheme", "zebra" ],
			widgetOptions : {
			// using the default zebra striping class name, so it actually isn't included in the theme variable above
			// this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
			dateFormat : "uk",
			// reset filters button
			filter_reset : ".reset",
			headers: { 
                    		2: {sorter:"shortDate", dateFormat: "ddmmyyyy"}        
              		}         
			// set the uitheme widget to use the bootstrap theme class names
			// this is no longer required, if theme is set
			// ,uitheme : "bootstrap"
	  	    }
	  	})
	});
</script>
<script type="text/javascript">
	$(function(){
  		$("#myTable").tablesorter();
	});
</script>

</div>

<script type="text/javascript">
  $(document).ready(function () {

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

{#    $('#folder-members').tagsinput({#}
{#        confirmKeys: [13, 32]#}
{#    });#}
{##}
{#    $('#folder-members').tagsinput('refresh');#}


    function get_folder_members(folder){
          $.getJSON( "/members/"+folder.id, function( list_of_users ) {
              $('#folder-members').tagsinput('removeAll');
              $.each(list_of_users, function (key, value) {
                  if (list_of_users.length > 1) {
                      $('#folder-members').tagsinput('add', value.email);
                  }
              });
          });
    }

    function display_folder_members(list_of_users) {
          var message = 'You have shared this folder with the following users:\n';

          $.each(list_of_users, function (key, value) {
              message += value.email + "\n";
          });

          return message;
    }

    function share_folder(folder, users){
         $.post("/share/"+ folder.id, { csrfmiddlewaretoken: csrftoken, email_list: users },function( data ) {
             var data = jQuery.parseJSON(data);
             var message = '';
             if (data.status_code > 200 && data.status_code < 300){
                 var contents = jQuery.parseJSON(data.content);
                 message = display_folder_members(contents.shared_to);
                 get_folder_members(folder);
                  $.jGrowl(message, { sticky: true, theme: "jgrowl-success" });
             } else {
                 message = data.content;
                  $.jGrowl(message, { sticky: true, theme: "jgrowl-error" });
             }

         });
    }

     $( ".save-members" ).bind( "click", function(event) {
         share_folder($('#save-member-button').data("folder"), $("select").tagsinput('items'));
     });

    $('td.showContext').contextMenu('myMenu1', {
      bindings: {
        'delete': function (t) {
          document.location.href = '/delete/'+t.id;
        },
        'download': function (t) {
          document.location.href = '/download/'+t.id;
        },
	    'rename': function (t) {
          var newName = prompt("Enter the new name : ", "new name");
          document.location.href = '/rename_file/'+t.id+'/'+newName;
          
        },
	    'move': function (t) {
	      var str = "root";
          var popy = window.open('/move/'+str,'popup_form','location=no,menubar=no,status=no,top=50%,left=50%,height=550,width=750');
        }
      }
    });
     $('td.showContext2').contextMenu('myMenu2', {
      bindings: {
        'delete': function (t) {
          document.location.href = '/delete_folder/'+t.id;
        },
	    'rename': function (t) {
          var newName = prompt("Enter the new name : ", "new name");
          document.location.href = '/rename_folder/'+t.id+'/'+newName; 
        },
	    'move': function (t) {
          var str = "root";
          var popy = window.open('/move/'+str,'popup_form','location=no,menubar=no,status=no,top=50%,left=50%,height=550,width=750');
        },
        'share': function(t){
            get_folder_members(t);
            $('#share-folder-modal').modal({
                show: true
            });
            $('#save-member-button').data("folder", t);
        }
      }
    });
  });
</script>

<div class="contextMenu" id="myMenu1">
	<ul>
    	<li id="delete"><span class="glyphicon glyphicon-remove" ></span> Delete</li>
    	<li id="download"><span class="glyphicon glyphicon-cloud-download" ></span> Download</li>
		<li id="rename"><span class="glyphicon glyphicon-pencil" ></span> Rename</li>
		<li id="move"><span class="glyphicon glyphicon-folder-open" ></span> Move</li>
    	</ul>
</div>

<div class="contextMenu" id="myMenu2">
	<ul>
    	<li id="delete"><span class="glyphicon glyphicon-remove" ></span> Delete</li>
		<li id="rename"><span class="glyphicon glyphicon-pencil" ></span> Rename</li>
		<li id="move"><span class="glyphicon glyphicon-folder-open" ></span> Move</li>
        <li id="share"><span class="glyphicon glyphicon glyphicon-share" ></span> Share</li>
    	</ul>
</div>

<div class="modal fade" id="share-folder-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Share folder</h4>
      </div>
      <div class="modal-body" style="text-align: center;">

          <p>Please enter the email addresses that the folder will be shared with.</p>

          <select multiple data-role="tagsinput" id="folder-members">
          </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#                                  <button type="button" class="btn btn-primary" id="save-members">Save changes</button>#}
          <a class="btn btn-primary save-members" data-id="" id="save-member-button" role="button">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
